
<div class="heading">
  <h1 class="title">Hello</h1>
  <p class="sub-title">I’m a UX/UI Designer with  the technical know-how to bring  concept designs to life.</p>
  <br>
  <p>Scroll down to view some of my recent works</p>
</div>
<div class="section-wrap" routerLink="/app-page2">
      <div class="image-col">
        <img src="../../assets/techpros.jpg" alt="techpros">
      </div>
      <div class="content-col">
        <p class="sub-title">BRANDING & DESIGN</p>
        <p class="title">TECHPROS and ENERGYPROS</p>
      </div>
</div>
<div class="section-wrap">
    <div class="content-col">
      <p class="sub-title">BRANDING & DESIGN</p>
      <p class="title">TECHPROS and ENERGYPROS</p>
    </div>
    <div class="image-col">
      <img src="../../assets/techpros.jpg" alt="techpros">
    </div>
</div>
